<div class="btnBackgroundColor behaviouralBorder">
  <div class="container">
    <h3 class="HeaderPanelBackgroundClr whiteTextColor ">Emotional Assessments</h3>
  </div>
</div>
<div class="container">
  <br>
  <div id="home">

    <div class="table-responsive ex3">
      <table class="table" rules="all" >
        <thead class="textColor">
          <tr>
            <th style="vertical-align: top; font-weight: 700; font-size: 14px;">Question</th>
            <th style="vertical-align: top; font-weight: 700; font-size: 14px; text-align: center;">Strongly <br> Disagree</th>
            <th style="vertical-align: top; font-weight: 700; font-size: 14px; text-align: center;">Disagree</th>
            <th style="vertical-align: top; font-weight: 700; font-size: 14px; text-align: center;">Somewhat  <br> Disagree</th>
            <th style="vertical-align: top; font-weight: 700; font-size: 14px; text-align: center;">Neither  <br> Agree or <br>  Disagree</th>
            <th style="vertical-align: top; font-weight: 700; font-size: 14px; text-align: center;">Somewhat <br>  Agree</th>
            <th style="vertical-align: top; font-weight: 700; font-size: 14px; text-align: center;">Agree</th>
            <th style="vertical-align: top; font-weight: 700; font-size: 14px; text-align: center;">Strongly <br>  Agree</th>
          </tr>
        </thead>

        <tbody>

         

            <tr>

              <th>1. &nbsp;&nbsp;&nbsp;I feel good about myself</th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark" style="margin-left: 19px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark" style="margin-left: 30px; margin-top: -9px;"></span>
                </label>
              </th>

            </tr>
         

          <tr>
          
              <th>2. &nbsp;&nbsp; &nbsp;I am sure of myself </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio1">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio1">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio1">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio1">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio1">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio1">
                  <span class="checkmark" style="margin-left: 19px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio1">
                  <span class="checkmark" style="margin-left: 30px; margin-top: -9px;"></span>
                </label>
              </th>
           

          </tr>
          <tr>
            

              <th>3. &nbsp;&nbsp;&nbsp;I do not fell good about myself </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio2">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio2">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio2">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio2">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio2">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio2">
                  <span class="checkmark" style="margin-left: 19px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio2">
                  <span class="checkmark" style="margin-left: 30px; margin-top: -9px;"></span>
                </label>
              </th>
            

          </tr>

          <tr>
            

              <th>4. &nbsp;&nbsp;&nbsp; I lack self-confidence</th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio3">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio3">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio3">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio3">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio3">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio3">
                  <span class="checkmark" style="margin-left: 19px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio3">
                  <span class="checkmark" style="margin-left: 30px; margin-top: -9px;"></span>
                </label>
              </th>
          

          </tr>

          <tr>
         

              <th>5. &nbsp;&nbsp;&nbsp; When i think or talk about the way i am, it is difficult for him/her <br>  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; accept myself </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio4">
                  <span class="checkmark" style="margin-left: 29px; "></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio4">
                  <span class="checkmark" style="margin-left: 29px; "></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio4">
                  <span class="checkmark" style="margin-left: 37px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio4">
                  <span class="checkmark" style="margin-left: 29px; "></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio4">
                  <span class="checkmark" style="margin-left: 37px; "></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio4">
                  <span class="checkmark" style="margin-left: 19px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio4">
                  <span class="checkmark" style="margin-left: 30px;"></span>
                </label>
              </th>
    

          </tr>

          <tr>
       

              <th>6. &nbsp;&nbsp;&nbsp; I feel good about myself </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio5">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio5">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio5">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio5">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio5">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio5">
                  <span class="checkmark" style="margin-left: 19px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio5">
                  <span class="checkmark" style="margin-left: 30px; margin-top: -9px;"></span>
                </label>
              </th>
        

          </tr>


          <tr>
     

              <th>7. &nbsp;&nbsp;&nbsp;I am sure of myself  </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio6">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio6">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio6">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio6">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio6">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio6">
                  <span class="checkmark" style="margin-left: 19px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio6">
                  <span class="checkmark" style="margin-left: 30px; margin-top: -9px;"></span>
                </label>
              </th>
          

          <tr>
       

              <th>8. &nbsp;&nbsp;&nbsp;I do not fell good about myself </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio7">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio7">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio7">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio7">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio7">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio7">
                  <span class="checkmark" style="margin-left: 19px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio7">
                  <span class="checkmark" style="margin-left: 30px; margin-top: -9px;"></span>
                </label>
              </th>
        

          </tr>


          <tr>
         

              <th>9. &nbsp;&nbsp;&nbsp;I lack self-confidence  </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio8">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio8">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio8">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio8">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio8">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio8">
                  <span class="checkmark" style="margin-left: 19px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio8">
                  <span class="checkmark" style="margin-left: 30px; margin-top: -9px;"></span>
                </label>
              </th>
   

          </tr>


          <tr>
    

              <th>10. &nbsp; When i think or talk about the way i am, it is difficult for him/her <br>  &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;accept myself  </th>
            
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio9">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio9">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio9">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio9">
                  <span class="checkmark" style="margin-left: 29px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio9">
                  <span class="checkmark" style="margin-left: 37px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio9">
                  <span class="checkmark" style="margin-left: 19px; margin-top: -9px;"></span>
                </label>
              </th>
              <th>
                <label class="radio-inline">
                  <input type="radio" checked="checked" name="radio9">
                  <span class="checkmark" style="margin-left: 30px; margin-top: -9px;"></span>
                </label>
              </th>
          

          </tr>


        </tbody>
      </table>
    </div>

  </div>



</div>

<div class="col-lg-4"></div>

<div class="col-lg-5">
  <button  data-toggle="tab" class="btn active OutlineStyle "
          role="button" aria-pressed="true" style="font-size:11px; width: 165px; color:white; background-color:#007fff !important; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left; margin-left: 60px;">
    PREVOUS QUESTION
  </button>
  <button data-toggle="tab" class="btn active OutlineStyle"
          role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF; color:white; background-color:#007fff !important; border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left; margin-left: 60px;">
    &nbsp; NEXT QUESTION
  </button>
</div>
<div class="col-lg-3"></div>