<style>

  button:hover {
    background-color: #00b2ff;
    color: white !important;
  }

  .fade1 {
    width: 370px;
    margin: auto;
    height
  }

</style>




<div class="fntFmly">
  <div class="btnBackgroundColor behaviouralBorder">
    <div class="container">
      <h3 class="HeaderPanelBackgroundClr whiteTextColor ">Behavioral Assessments</h3>
    </div>
  </div>
  <div class="container">
    <div class="whiteBackgroundColor textDiv BlackTxtClr">
      <br />
      <p>
        Below are four items,each representing a certain behaviour.By clicking and dragging each item,move the form the left to right and other them so <br>
        they are ranked MOST like you to LEAST like you.The final order should represent how you rank these behaviours from most like you (on top) to least<br>
        like you (on bottom).<br><br>
        You can also move items around to adjust their order untill you feel it is most accurate before clicking 'Next'
      </p><br>

    </div>

    <br>


    <div class="tab-content">
      <div  class="tab-pane fade in active" id="menu" >

        <div class="conatiner" >
          <p class="headingColor"> <strong> Question 1 of 24 </strong></p>
          <br>

          <div style="width:400px; height:200px;">
            <div style="width:200px; height:200px; float:left;  border-right:1px solid #007FFF;">
              <p style="font-size:12px;">Move items from here </p>
              <a href="#" class="btn active OutlineStyle textColor "
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left;">Kind</a>
              <a href="#" class="btn  active OutlineStyle textColor"
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left;">Persuasive</a>
              <a href="#" class="btn active OutlineStyle textColor"
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left;">Modest</a>
              <a href="#" class="btn  active OutlineStyle textColor"
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left;">Imaginative</a>
              <br><br>
              <br><br><br>



            </div>
            <div style="width:200px; height:200px; float:left; ">
              <p style="font-size:12px; margin-left:30px;">Most like me</p>
              <a href="#" class="btn active OutlineStyle1 btnTextColor "
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF;    border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left;"></a>
              <a href="#" class="btn active OutlineStyle1 btnTextColor "
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF;  border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left;"></a>
              <a href="#" class="btn active OutlineStyle1 btnTextColor "
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left; "></a>
              <a href="#" class="btn active OutlineStyle1 btnTextColor "
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px;  margin-bottom: 10px; box-shadow: none; text-align: left;"></a>
              <br><br>
              <p style="margin-left:30px; font-size:12px;"> Least like me</p>
              <br><br>

              <button  href="#menu1" data-toggle="tab" class="btn active OutlineStyle  textColor"
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left; margin-left: 60px;">&nbsp; NEXT QUESTION</button>



            </div>
          </div>
        </div>
        </div>









      <div id="menu1" class="tab-pane fade">
        <div class="conatiner">
          <p class="headingColor"> <strong> Question 1 of 24 </strong></p>
          <br>

          <div style="width:400px; height:200px;">
            <div style="width:200px; height:200px; float:left;  border-right:1px solid #007FFF;">
              <p style="font-size:12px;">Move items from here </p>
              <br><br>
              <br><br><br>
              <br><br><br>
              <br><br><br>

              <button class="btn active OutlineStyle  textColor" href="#menu" data-toggle="tab"
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF; font-size:10px; margin-top: 12px; border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left;">PREVIOUS QUESTION</button>


            </div>
            <div style="width:200px; height:200px; float:left; ">
              <p style="font-size:12px; margin-left:30px;">Most like me</p>
              <a href="#" class="btn active OutlineStyle1 btnTextColor "
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF;   background-color: #007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left;">Kind</a>
              <a href="#" class="btn active OutlineStyle1 btnTextColor "
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF;  background-color: #007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left;">Persuasive</a>
              <a href="#" class="btn active OutlineStyle1 btnTextColor "
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF;  background-color: #007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 10px; box-shadow: none; text-align: left; ">Modest</a>
              <a href="#" class="btn active OutlineStyle1 btnTextColor "
                 role="button" aria-pressed="true" style="font-size:11px; border-color:#007FFF;  background-color: #007FFF; border-radius: 20px 20px 20px 20px;  margin-bottom: 10px; box-shadow: none; text-align: left;">Imaginative</a>
              <br><br>
              <p style="margin-left:30px; font-size:12px;"> Least like me</p>
              <br><br>

              <a data-toggle="modal" data-target="#myModala" class="btn active GreenBtnForAssessment btnTextColor greenBackgroundClr"
                 role="button" aria-pressed="true" style="margin-left: 60px; font-size: 10px; border-radius: 20px 20px 20px 20px; margin-bottom: -13px; box-shadow: none; text-align: left;"><img src="../../../../assets/images/btnSave.png" style="height: 12px; margin-bottom: 5px;">&nbsp; &nbsp; SAVE & SUBMIT</a>

              <!-- Modal -->
              <div class="modal fade" id="myModala" role="dialog">
                <div class="modal-dialog modal-md fade1" style=" transform: translate(0%, 120%);">
                  <div class="modal-content">

                    <div class="modal-body">

                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
 
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                            <img class="popupThankLogo" style="margin-left: 5px;" src="assets/images/tick.PNG" />

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                        </div>


                      </div>



                      <div class="row" style=" margin-top: 5px !important;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        
                            <label class="headingColor popupThank"><strong>Thank You!</strong></label>
                         
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                   
                        </div>


                      </div>


                      <div class="row" style=" margin-top: 5px !important;">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                          <div class="form-group">


                          </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                          <div class="form-group">
                            <p class="textColor popupText" style="font-size: 12px !important">Your feedback has been submitted successfully.</p>
                          </div>
                        </div>

                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                          <div class="form-group">

                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- close pop up -->

            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>