

.new1 {
  color: blue;
}

.new2 {
  color: red;
}

.new3 {
  color: blue;
}

  .button {
    color: purple;
    text-align: center;
  }

.new4 {

  text-align: center;
  color: black;
}

.whole {

  height: 508px;
}

#maindiv {
  background: url(https://i.ibb.co/2MWx02P/visax-7kkzp-BYGl-MY-unsplash.jpg);
}


