<div class="fntFmly">
  <div class="btnBackgroundColor " style="width:100%; height:70px;">
    <div class="container">
      <h3 class="HeaderPanelBackgroundClr whiteTextColor ">Intelligence Assessments</h3>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane fade in active">


      <div class="container">
        <div>
          <br />
          <p style="font-size:14px;" class="headingColor">
            <strong>
              INTRODUCTION
              <br>
              <br>Before taking the assessments,please read the instruction below:
            </strong>
          </p>

        </div>
      </div>
      <div class="container">
        <div>

          <ul style="font-size:12px; margin-left: -40px;" class="BlackTxtClr">
            <li>
              Tests are scored on SPEED and ACCURACY so make sure you work as quickly as you can and as accurately as you can without any disruptions.
            </li>
            <br>
            <li>
              Ensure that you are working on your own, in a quiet environment free from interruption where you will be able to
              <br />
              concentrate and focus for at least 45 minutes.
            </li>
            <br>
            <li>
              Read the information provided before each test carefully.
            </li>
            <br>
            <li>
              Concentrate on the instructions and the practice questions prior to each test.
            </li>
            <br>
            <li>
              This is a general assessment of your fluid intelligence that is your ability to take on new information.
            </li>
          </ul>



          <a href="#menu1" data-toggle="tab" class="btn active ContinueBtn btnBackgroundColor btnTextColor" style="border-radius: 20px 20px 20px 20px;"
             role="button" aria-pressed="true">CONTINUE</a>
        </div>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">



      <div class="container">
        <div>
          <br />
          <p style="font-size:12px;" class="BlackTxtClr">
            This is a general assessment of your fluid intelligence that is your ability to take on new information
            that is your ability to take on new information
            <br> It is important that you read the follow info points and make sure you are fully prepared before
            starting the test.
          </p>

        </div>
      </div>
      <div class="container">
        <div>
          <p class="headingColor" style="font-size:14px;">
            <strong>Guidline for completing the assessment:</strong>
          </p>

          <ul style="font-size:12px; margin-left: -40px;" class="BlackTxtClr">
            <li>
              The entire test is timed and it will take you approximately 40 minutes.
            </li>
            <br>
            <li>
              It consists of five distinct sections, each with its own time limit (between 2 and 5 minutes). Before each test you
              <br>
              will be given instructions and required to complete five practice questions.
            </li>
            <br>
            <li>
              Once you start the test, you must complete all five sections to obtain a valid score.
            </li>
            <br>
            <li>
              The test can be completed with a Computer Mouse or a Laptop Touch Pad. Please use the method with which you
              <br>
              are quickest and most comfortable with, when you complete the test.
            </li>
            <br>
            <li>
              Your score is equally dependent on how many questions you complete and the accuracy of your answers. So it is
              <br>
              vital that you work as QUICKLY AS POSSIBLE AND AS ACCURATELY AS POSSIBLE.
            </li>
          </ul>



          <p class="headingColor" style="font-size:14px;">
            <strong>Important requirement for completing the assesssment:</strong>
          </p>

          <ul style="font-size:12px; margin-left: -40px;" class="BlackTxtClr">
            <li>
              Please confirm that you understand that both speed and accuracy are equally important when completing the
              <br>
              assessment.
            </li>
            <br>
            <li>
              Please confirm that you will complete the assessment in isolation - a quiet place, free from distractions (e.g.
              <br>
              texting, social networking etc.)
            </li>
            <br>
            <li>
              Please confirm that all background programs and windows on your computer are closed down (not minimized).
            </li>
            <br>
            <li>
              Please confirm that you are completing the assessment on your own without any external help.
            </li>
            <br>
            <li>
              Please note that this assessment has been designed to assess mental processing capacity so it is vital that you
              <br>
              focus your attention on every question.
            </li>
          </ul>


          <a href="#menu2" data-toggle="tab" class="btn btn-lg active ContinueBtn btnBackgroundColor btnTextColor" style="border-radius: 20px 20px 20px 20px;"
             role="button" aria-pressed="true">CONTINUE</a>
        </div>
      </div>

    </div>


    <div id="menu2" class="tab-pane fade">


      <div class="container">
        <div class="whiteTextColor">
          <br />
          <h5 class="headingColor" style="font-size:14px;">
            <strong>REASONING TEST </strong>
          </h5>

        </div>
      </div>
      <div class="container">
        <div>
          <p style="font-size:12px;" class="BlackTxtClr">
            This test is REASONING and assesses how quickly and accurately an individual can hold information in their short-
            <br>
            term memory and solve problems.
          </p>
          <br>

          <p style="font-size:12px;" class="BlackTxtClr"> Each question is about comparing two people; for example, who is HEAVIER OR LIGHTER or STRONGER OR WEAKER , </p>
          <p style="font-size:12px;" class="BlackTxtClr"> than another person. You will be given 5 practice questions to complete which will not be timed.</p>
          <p style="font-size:12px;" class="BlackTxtClr"> After completing the practice questions, you will go on to the actual timed test.  </p>
          <p style="font-size:12px;" class="BlackTxtClr"> Click below to try 5 practice questions. </p>
          <p style="font-size:12px;" class="BlackTxtClr"> These questions are not timed and are not scored. </p>
          <p style="font-size:12px;" class="BlackTxtClr"> You must however find the correct answer to all of these questions before you may continue to the test. </p>
          <br>

          <a href="#menu3" data-toggle="tab" class="btn btn-lg active ContinueBtn btnBackgroundColor btnTextColor" style="border-radius: 20px 20px 20px 20px;"
             role="button" aria-pressed="true">Practice Test</a>
        </div>
      </div>
    </div>

    <div id="menu3" class="tab-pane fade">

      <div class="container">
        <div class="textCenter headingColor whiteBackground">
          <br />
          <br />
          <h4 style="font-size:18px;">
            <!--<strong>Tom is heavier than Fred.</strong>-->
            <strong>

              {{askQuestion.split("|")[0]}}

            </strong>


          </h4>
          <br />

          <p style="font-size:12px; " class="BlackTxtClr">Click the next button when ready to continue.</p>
          <br />

          <a href="#menu4" data-toggle="tab" class="btn btn-lg active ContinueBtn btnBackgroundColor btnTextColor" style="border-radius: 20px 20px 20px 20px;"
             role="button" aria-pressed="true" (click)="showSec3();">NEXT</a>
        </div>

      </div>
    </div>

    <div id="menu4" class="tab-pane fade">


      <div class="container">
        <div class="textCenter headingColor whiteBackground">
          <br />
          <br />
          <h4>
            <!--<strong>Who is heavier?</strong>-->

            <strong>
              {{askQuestion.split("|")[1]}}
            </strong>
          </h4>
          <br />
          <a id="demo" class="btn active OutlineStyle textColor" (click)="myFunction();" name="changes" style="text-align:center; font-size:11px; border-color:#007FFF;  border-radius: 20px 20px 20px 20px;"
             role="button" aria-pressed="true">
            {{SelectedOption1}}
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn active OutlineStyle textColor" (click)="myFunction2();" name="changes" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px;"
                  role="button" aria-pressed="true">
            {{SelectedOption2}}
          </button>

          <br />
          <br />
          <br />
          <p class="greenTextClr" id="myDIV1">
          </p>

          <br />

          <p style="font-size:12px; color:black;">Click the next button when ready to continue.</p>
          <br />

          <a id="NextQuesbtn" _ngcontent-c2="" aria-pressed="true" class="btn btn-lg active ContinueBtn btnBackgroundColor btnTextColor" data-toggle="tab" href="#menu3" role="button" style="border-radius: 20px 20px 20px 20px;" aria-expanded="true" (click)="LoadPracticeQuestion();">NEXT</a>

          <!-- FOR Submit -- Link-->
          <!--<a id="EndPrac" href="#menu5" data-toggle="tab" class="btn active ContinueBtn btnBackgroundColor btnTextColor" style="border-radius: 20px 20px 20px 20px;  "
        role="button" aria-pressed="true">NEXT</a>-->
        </div>

      </div>
    </div>


    <!--class="tab-pane fade">-->
    <!--1=1 'tab-pane fade': 'tab-pane fade active in'"-->
    <!--<div [ngClass]="QuestionCount>= 1?'tab-pane fade active in':'tab-pane fade'" id="menu5"  class="tab-pane fade" >-->
    <div [ngClass]="{'tab-pane fade  active in':ShowPrAcEnd == true,'tab-pane fade':ShowPrAcEnd == false}" id="menu5" class="tab-pane fade">
      <div class="container">
        <div class="whiteBackgroundColor fontSize12">
          <br />
          <p>
            You have now completed the practice questions.
          </p>
          <br />
          <p>
            Remember both speed and accuracy are important!
          </p>
          <br />
          <!--<a href="#menu6" data-toggle="tab" class="btn active ContinueBtn btnBackgroundColor btnTextColor" style="font-size:12px; border-radius: 20px 20px 20px 20px;"
        role="button" aria-pressed="true">Start test</a>-->

          <a href="#menu3" data-toggle="tab" class="btn active ContinueBtn btnBackgroundColor btnTextColor" style="font-size:12px; border-radius: 20px 20px 20px 20px;"
             role="button" aria-pressed="true" (click)="HidewPrac();">Start test</a>

        </div>
      </div>
    </div>


    <div [ngClass]="{'tab-pane fade  active in':_SECTION_ID == 2,'tab-pane fade':_SECTION_ID == 1}" id="menu6" class="tab-pane fade">



      <div class="container">
        <div class="textColor whiteBackgroundColor fontSize12" style="text-align:center; ">
          <br />
          <br>
          <label class="textColor " style="text-align:center; font-size:22px; margin-bottom: 25px;">
            {{askQuestion.split("|")[0]}} &nbsp; &nbsp; &nbsp;  {{askQuestion.split("|")[1]}} &nbsp; &nbsp; &nbsp; {{askQuestion.split("|")[2]}}  &nbsp; &nbsp; &nbsp; {{askQuestion.split("|")[3]}}
            <br>

            {{askQuestion.split("|")[4]}} &nbsp; &nbsp; &nbsp; {{askQuestion.split("|")[5]}} &nbsp; &nbsp; &nbsp;  {{askQuestion.split("|")[6]}} &nbsp; &nbsp; &nbsp; {{askQuestion.split("|")[7]}}
          </label>
          <br>
          <br>
          <button class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size: 10px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;">00</button>
          <br>

          <button href="" onclick="return false" class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;" (click)="SetAnswerSectionWise(2,0)">01</button>
          <br>
          <button href="#" class="btn active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;" (click)="SetAnswerSectionWise(2,1)">02</button>
          <br>
          <button href="#" class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;" (click)="SetAnswerSectionWise(2,2)">03</button>
          <br>
          <button href="#" class="btn active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;" (click)="SetAnswerSectionWise(2,3)">04</button>
          <br>
          <br>
          <br>

          <label class="textColor greenTextClr" style="font-size:12px; margin-bottom: 10px;">01 is the correct answer!</label>
          <br>

          <br>
          <!--<a href="#menu7" data-toggle="tab" class="btn active OutlineStyle btnTextColor" role="button" aria-pressed="true" style="text-align:center;  background-color: #007FFF;  font-size:11px; border-color:#007FFF; font-size:10px; margin-top: 7px; border-radius: 20px 20px 20px 20px; margin-bottom: 10px;">NEXT</a>-->
          <a href="#menu7" data-toggle="tab" class="btn active OutlineStyle btnTextColor" role="button" aria-pressed="true" style="text-align:center;  background-color: #007FFF;  font-size:11px; border-color:#007FFF; font-size:10px; margin-top: 7px; border-radius: 20px 20px 20px 20px; margin-bottom: 10px;" (click)="LoadPracticeQuestion()">NEXT</a>
        </div>
      </div>

    </div>

    <div [ngClass]="{'tab-pane fade  active in':_SECTION_ID == 3,'tab-pane fade':_SECTION_ID <= 2}" id="menu7" class="tab-pane fade" style="display:none;">


      <div class="container">
        <div class="textColor whiteBackgroundColor fontSize12" style="text-align:center; ">
          <br />
          <br>
          <br>
          <br>
          <br>

          <button class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size: 10px; border-radius: 20px 20px 20px 20px; border-color:#007FFF; margin-bottom: 25px;">23</button>
          <br>

          <button href="#" class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;">15</button>
          <br>
          <button href="#" class="btn active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;">09</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <label class="textColor greenTextClr" style="font-size:12px; margin-bottom: 10px;">01 is the correct answer!</label>
          <br>

          <br>
          <a href="#menu8" data-toggle="tab" class="btn active OutlineStyle btnTextColor" role="button" aria-pressed="true" style="text-align:center;  background-color: #007FFF;  font-size:11px; border-color:#007FFF; font-size:10px; margin-top: 7px; border-radius: 20px 20px 20px 20px; margin-bottom: 10px;">NEXT</a>
        </div>
      </div>

    </div>

    <div id="menu8" class="tab-pane fade">

      <div class="container">
        <div class="textColor whiteBackgroundColor fontSize12" style="text-align:center; ">
          <br />
          <br>
          <br>
          <br>
          <br>

          <button class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size: 10px; border-radius: 20px 20px 20px 20px; border-color:#007FFF; margin-bottom: 25px;">drink</button>
          <br>

          <button href="#" class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;">sip</button>
          <br>
          <button href="#" class="btn active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;">eat</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <label class="textColor greenTextClr" style="font-size:12px; margin-bottom: 10px;">01 is the correct answer!</label>
          <br>

          <br>
          <a href="#menu9" data-toggle="tab" class="btn active OutlineStyle btnTextColor" role="button" aria-pressed="true" style="text-align:center;  background-color: #007FFF;  font-size:11px; border-color:#007FFF; font-size:10px; margin-top: 7px; border-radius: 20px 20px 20px 20px; margin-bottom: 10px;">NEXT</a>
        </div>
      </div>
    </div>

    <div id="menu9" class="tab-pane fade">

      <div class="container">
        <div class="textColor whiteBackgroundColor fontSize12" style="text-align:center; ">
          <br />
          <br>

          <img class="" src="assets/images/imageForTest.jpg" />
          <br>
          <br>
          <br>
          <button class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size: 10px; border-radius: 20px 20px 20px 20px; border-color:#007FFF; margin-bottom: 25px;">00</button>
          <br>

          <button href="#" class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;">01</button>
          <br>
          <button href="#" class="btn active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;">02</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <label class="textColor greenTextClr" style="font-size:12px; margin-bottom: 10px;">01 is the correct answer!</label>
          <br>

          <br>
          <a href="#menu10" data-toggle="tab" class="btn active OutlineStyle btnTextColor" role="button" aria-pressed="true" style="text-align:center;  background-color: #007FFF;  font-size:11px; border-color:#007FFF; font-size:10px; margin-top: 7px; border-radius: 20px 20px 20px 20px; margin-bottom: 10px;">NEXT</a>
        </div>
      </div>

    </div>

    <div id="menu10" class="tab-pane fade">

      <div class="container">
        <div class="whiteBackgroundColor fontSize12 ">
          <br />
          <br>
          <p style="font-size:14px;">
            Your feedback is submitted successfully!
          </p>
          <br />
          <button (click)="btnClose_Click()" data-toggle="tab" class="btn active ContinueBtn btnBackgroundColor btnTextColor" style="border-radius: 20px 20px 20px 20px;" role="button" aria-pressed="true">
            Close
          </button>
        </div>
      </div>
    </div>

    <div id="SEC3Intro" class="tab-pane fade active In" style="display:none;">


      <div class="container">
        <div class="whiteTextColor">
          <br />
          <h5 class="headingColor" style="font-size:14px;">
            <strong>NUMBER SPEED AND ACCURACY </strong>
          </h5>

        </div>
      </div>
      <div class="container">
        <div>
          <p style="font-size:12px;" class="BlackTxtClr">
            This test measures your speed and accuracy in carrying out number tasks in your head. For each problem presented,             <br>
          </p>
          <br>

          <p style="font-size:12px;" class="BlackTxtClr"> start by finding the largest and the smallest of the three numbers displayed. Having identified those, the right answer is   , </p>
          <p style="font-size:12px;" class="BlackTxtClr"> the number that is numerically further away from the remaining number. </p>
          <p style="font-size:12px;" class="BlackTxtClr"> You will be given 5 practice questions to complete which will not be timed.    </p>
          <p style="font-size:12px;" class="BlackTxtClr"> After completing the practice questions, you will go on to the actual timed test. </p>
          <p style="font-size:12px;" class="BlackTxtClr"> Click below to try 5 practice questions. </p>
          <p style="font-size:12px;" class="BlackTxtClr"> These questions are not timed and are not scored. </p>
          <p style="font-size:12px;" class="BlackTxtClr"> You must however find the correct answer to all of these questions before you may continue to the test. </p>

          <br>

          <a class="btn btn-lg active ContinueBtn btnBackgroundColor btnTextColor" style="border-radius: 20px 20px 20px 20px;"
             role="button" aria-pressed="true" (click)="StartSec3();">Start Test</a>
        </div>
      </div>
    </div>
    <div id="SEC3" class="tab-pane fade active In" style="display:none;">
      <div class="container">
        <div class="textColor whiteBackgroundColor fontSize12" style="text-align:center;">
          <br />
          <br>
          <br>
          <button class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size: 10px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;" (click)="SetAnswerSectionWise(3,0)">{{Sec3SelectedOption1}}</button>
          <br>

          <button href="" onclick="return false" class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;" (click)="SetAnswerSectionWise(3,1)">{{Sec3SelectedOption2}}</button>
          <br>

          <button href="#" class="btn active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;" (click)="SetAnswerSectionWise(3,2)">{{Sec3SelectedOption3}}</button>
          <br>

          <br>
          <label class="textColor greenTextClr" style="font-size:12px; margin-bottom: 10px;">01 is the correct answer!</label>
          <br>

          <br>
          <a class="btn active OutlineStyle btnTextColor" role="button" aria-pressed="true" style="text-align:center;  background-color: #007FFF;  font-size:11px; border-color:#007FFF; font-size:10px; margin-top: 7px; border-radius: 20px 20px 20px 20px; margin-bottom: 10px;" (click)="LoadPracticeQuestion()">NEXT</a>
        </div>
      </div>

    </div>


    <div id="SEC4Intro" class="tab-pane fade active In" style="display:none;">


      <div class="container">
        <div class="whiteTextColor">
          <br />
          <h5 class="headingColor" style="font-size:14px;">
            <strong>WORD MEANING </strong>
          </h5>

        </div>
      </div>
      <div class="container">
        <div>
          <p style="font-size:12px;" class="BlackTxtClr">
            This is a test to see how quickly you can spot the odd word out in a group. You will be given three words. Two of the
            <br>
          </p>
          <br>

          <p style="font-size:12px;" class="BlackTxtClr"> You will be given 5 practice questions to complete which will not be timed.  </p>
          <p style="font-size:12px;" class="BlackTxtClr"> After completing the practice questions, you will go on to the actual timed test.  </p>
          <p style="font-size:12px;" class="BlackTxtClr"> Click below to try 5 practice questions.    </p>
          <p style="font-size:12px;" class="BlackTxtClr"> These questions are not timed and are not scored.  </p>
          <p style="font-size:12px;" class="BlackTxtClr"> You must however find the correct answer to all of these questions before you may continue to the test. </p>

          <br>

          <a class="btn btn-lg active ContinueBtn btnBackgroundColor btnTextColor" style="border-radius: 20px 20px 20px 20px;"
             role="button" aria-pressed="true" (click)="startSec4();">Start Test</a>
        </div>
      </div>
    </div>
    <div id="SEC4" class="tab-pane fade active In" style="display:none;">
      <div class="container">
        <div class="textColor whiteBackgroundColor fontSize12" style="text-align:center;">
          <br />
          <br>
          <br>
          <button class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size: 10px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;" (click)="SetAnswerSectionWise(3,0)">{{Sec3SelectedOption1}}</button>
          <br>

          <button href="" onclick="return false" class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;" (click)="SetAnswerSectionWise(3,1)">{{Sec3SelectedOption2}}</button>
          <br>

          <button href="#" class="btn active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;" (click)="SetAnswerSectionWise(3,2)">{{Sec3SelectedOption3}}</button>
          <br>

          <br>
          <label class="textColor greenTextClr" style="font-size:12px; margin-bottom: 10px;">01 is the correct answer!</label>
          <br>

          <br>
          <a class="btn active OutlineStyle btnTextColor" role="button" aria-pressed="true" style="text-align:center;  background-color: #007FFF;  font-size:11px; border-color:#007FFF; font-size:10px; margin-top: 7px; border-radius: 20px 20px 20px 20px; margin-bottom: 10px;" (click)="LoadPracticeQuestion()">NEXT</a>
        </div>
      </div>

    </div>


    <div id="SEC5Intro" class="tab-pane fade active In" style="display:none;">


      <div class="container">
        <div class="whiteTextColor">
          <br />
          <h5 class="headingColor" style="font-size:14px;">
            <strong>SPATIAL VISUALISATION </strong>
          </h5>

        </div>
      </div>
      <div class="container">
        <div>
          <p style="font-size:12px;" class="BlackTxtClr">
            This test is designed to see how quickly you can turn shapes around in your head. The challenge is to see how many            <br>
          </p>
          <br>

          <p style="font-size:12px;" class="BlackTxtClr"> boxes contain two shapes that are the same. You have to compare the shapes in vertical pairs.   </p>
          <p style="font-size:12px;" class="BlackTxtClr"> You will then be given 5 practice questions to complete which will not be timed.    </p>
          <p style="font-size:12px;" class="BlackTxtClr"> After completing the practice questions, you will go on to the actual timed test.   </p>
          <p style="font-size:12px;" class="BlackTxtClr"> Click below to try 5 practice questions.   </p>
          <p style="font-size:12px;" class="BlackTxtClr"> These questions are not timed and are not scored.    </p>
          <p style="font-size:12px;" class="BlackTxtClr"> You must however find the correct answer to all of these questions before you may continue to the test.  </p>
          <br>

          <a class="btn btn-lg active ContinueBtn btnBackgroundColor btnTextColor" style="border-radius: 20px 20px 20px 20px;"
             role="button" aria-pressed="true" (click)="startSec5();">Start Test</a>
        </div>
      </div>
    </div>
    <div id="Sec5" class="tab-pane fade" style="display:none">

      <div class="container">
        <div class="textColor whiteBackgroundColor fontSize12" style="text-align:center; ">
          <br />
          <br>

          <img class="" src="assets/images/imageForTest.jpg" />
          <br>
          <br>
          <br>
          <button class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size: 10px; border-radius: 20px 20px 20px 20px; border-color:#007FFF; margin-bottom: 25px;">00</button>
          <br>

          <button href="#" class="btn  active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;">01</button>
          <br>
          <button href="#" class="btn active OutlineStyle textColor" role="button" aria-pressed="true" style="text-align:center; font-size:11px; border-color:#007FFF; border-radius: 20px 20px 20px 20px; margin-bottom: 25px;">02</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <label class="textColor greenTextClr" style="font-size:12px; margin-bottom: 10px;">01 is the correct answer!</label>
          <br>

          <br>
          <!--<a href="#menu10" data-toggle="tab" class="btn active OutlineStyle btnTextColor" role="button" aria-pressed="true" style="text-align:center;  background-color: #007FFF;  font-size:11px; border-color:#007FFF; font-size:10px; margin-top: 7px; border-radius: 20px 20px 20px 20px; margin-bottom: 10px;">NEXT</a>-->
          <a data-toggle="tab" class="btn active OutlineStyle btnTextColor" role="button" aria-pressed="true" style="text-align:center;  background-color: #007FFF;  font-size:11px; border-color:#007FFF; font-size:10px; margin-top: 7px; border-radius: 20px 20px 20px 20px; margin-bottom: 10px;"(click)="LoadPracticeQuestion()">NEXT</a>
        </div>


     
      </div>

    </div>
  </div>
</div>





