
#BackgroundImageForgetPassword {
  background: url(/assets/images/vvv.png);
  background-size: 1360px 565px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 565px !important;
}

#BackgroundImageForgetpassword {
  width: 100%;
  margin-top: -365px !important;
}



@media screen and (min-width: 1226px) and (max-width: 1362px) {

  #BackgroundImageForgetpassword {
    width: 100%;
    margin-top: -388px !important;
  }
}

@media screen and (min-width: 1126px) and (max-width: 1226px) {

  #BackgroundImageForgetpassword {
    width: 100%;
    margin-top: -390px !important;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1126px) {

  #BackgroundImageForgetpassword {
    width: 100%;
    margin-top: -312px !important;
  }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {

  #BackgroundImageForgetpassword {
    width: 100%;
    margin-top: -232px !important;
  }
}

@media screen and (min-width: 800px) and (max-width: 900px) {

  #BackgroundImageForgetpassword {
    width: 100%;
    margin-top: -175px !important;
  }
}

@media screen and (min-width: 700px) and (max-width: 800px) {

  #BackgroundImageForgetpassword {
    width: 100%;
    margin-top: -85px !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 700px) {

  #BackgroundImageForgetpassword {
    width: 100%;
    margin-top: -25px !important;
  }
  #validationss {
    margin-left: 60px !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 600px) {

  #BackgroundImageForgetpassword {
    width: 100%;
    margin-top: 35px !important;
  }
  #validationss {
    margin-left: 50px !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {

  #BackgroundImageForgetpassword {
    width: 100%;
    margin-top: 75px !important;
  }
  #validationss {
    margin-left: 30px !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 400px) {

  #BackgroundImageForgetpassword {
    width: 100%;
    margin-top: 50px !important;
  }
  #validationss {
    margin-left: 30px !important;
  }
}



@media screen and (min-width: 700px) and (max-width: 985px) {

  #validationss {
    margin-left: 75px !important;
  }
}
