<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#fff"
             type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


<div class="fntFmly" *ngIf="WrongUrl">
  <div class="container-fluid">


    <form>


      <div class="row" style="margin-top: 50px;">
        <div class="col-lg-4 col-md-4"></div>
        <div class="col-lg-4 col-md-4">
        </div>
        <div class="col-lg-4 col-md-4">
          <label style="color:red;"class="forValidation" *ngIf="isMandatoryfields == true"><sup style="color:red;font-size:14px !important" class="forValidation">*</sup>Please enter mandatory fields.</label>
          <label style="color:red; "class="forValidation" *ngIf="errorMessage == true"><sup style="color:red;font-size:14px !important" class="forValidation">*</sup>Password does not match with the Confirm password</label>
          <label style="color:red;" class="forValidation" *ngIf="DisconnectInternet == true"><sup style="color:red;font-size:14px !important" class="forValidation">*</sup>Please check your internet connection and try again.</label>
          <label style="color:red; " class="forValidation" *ngIf="notAppropriate == true"><sup style="color:red;font-size:14px !important" class="forValidation">*</sup>Url/Link is not appropriate please try again.</label>
        </div>
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-lg-4 col-md-4"></div>
        <div class="col-lg-4 col-md-4">
        </div>
        <div class="col-lg-4 col-md-4">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="col-md-1 col-sm-1 col-xs-1"></div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <label for="exampleInputEmail1" class="fntWght fontSize12"><sup style="color:red;" class="forValidation">*</sup><!--New Password-->{{lblNewPassword}}</label>

            <input type="password" class="form-control" id="newPassword" [ngClass]="{'BorderColor':isMandatoryfields && newPassword == ''}" placeholder="" name="password1" [(ngModel)]="newPassword">
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class=" col-lg-4  col-md-4 col-sm-12 col-xs-12">

        </div>
      </div>
      <br />


      <div class="row">
        <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="col-md-1 col-sm-1 col-xs-1"></div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <label for="exampleInputEmail1" class="fntWght fontSize12"><sup style="color:red;" class="forValidation">*</sup><!--Confirm Password-->{{lblConfirmPassword}}</label>

            <input type="password" class="form-control" id="ConfirmPassword" [ngClass]="{'BorderColor':isMandatoryfields && confirmPassword == ''}" placeholder="" name="password2" [(ngModel)]="confirmPassword">
 </div>
          <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class=" col-lg-4  col-md-4 col-sm-12 col-xs-12">

        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="col-md-4 col-sm-4 col-xs-4"></div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <button (click)="forgotPasswordChangePassword()" [style.backgroundColor]="[ThemeFontColor ? ThemeFontColor  : DefaultFontColor]" style="width:120px; height:25px; " type="button" class="btn btn-block app-btn signup-btn clrhover uppercase"><!--Reset-->{{lblReset}}</button>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4"></div>
          </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
      </div>

      <div class="row">

        <div class="col-lg-12 ">

        </div>

      </div>

      <div class="row">

        <div class="form-group col-lg-12">

        </div>

      </div>

    </form>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" >
      <div class="modal-dialog modal-sm fade1" style=" transform: translate(0%, 50%);">
        <div class="modal-content">

          <div class="modal-body">

            <div class="row" style="text-align:center; margin-left: 10px;">

              <div class="col-lg-12 ">

                <img class="popupThankLogo" [src]="tickImage" />

              </div>


            </div>

            <div class="row" style=" margin-top: 5px !important;">

              <div class="col-lg-12">

                <p style="text-align: center;" [style.color]="[ThemeFontColor ? ThemeFontColor  : DefaultFontColor]">{{ message }} </p>

              </div>



            </div>
            <div class="form-group" style="font-size:12px;text-align: center;">
              <button  type="button" routerLink='/login'
                      style="margin-bottom: 6px; margin-left: 6px;"  
                    class="btn app-btn   clrhover" id="mb-5" (click)="RedirectToLogin()"
                    [style.backgroundColor]="[ThemeFontColor ? ThemeFontColor  : DefaultFontColor]"  >
                Ok
              </button>
            </div>

            <!--<div class="row" style=" margin-top: 5px !important;">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

      <label class="popupThank" [style.color]="[ThemeFontColor ? ThemeFontColor  : DefaultFontColor]" style="font-size:12px !important;"><strong>{{message}}</strong></label>

    </div>

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

    </div>

  </div>-->

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

              </div>


              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

              </div>


            </div>


          </div>
        </div>
      </div>

    </div>
    <!-- close pop up -->


    <!-- Modal -->
    <div class="modal fade" id="myModal1" role="dialog" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog modal-sm fade1" style=" transform: translate(0%, 150%);">
        <div class="modal-content">

          <div class="modal-body">

            <div class="row" style=" margin-top: 5px !important;">

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">

                <label [style.color]="[ThemeFontColor ? ThemeFontColor  : DefaultFontColor]" style="font-size:12px !important;"><strong>{{ChangePassMsg}}</strong></label>

              </div>

            </div>

            <div class="row"> 
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-left: -16px;">
                <a class="btn btnTextColor btn-lg SaveBtn1 clrhover" data-dismiss="modal" [style.backgroundColor]="[ThemeFontColor ? ThemeFontColor  : DefaultFontColor]" (click)="removeEmail1()">
                  <span class="fa fa-check"></span> &nbsp;  Ok
                </a>

              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

              </div>


            </div>


          </div>
        </div>
      </div>

    </div>
    <!-- close pop up -->

 

  </div>
<img id="BackgroundImageChangepassword" src={{BackgroundImage}} />

</div>
